@media all and (max-width: 1000px) {

    #recentwork{display:none;}

}

@media all and (max-width: 1000px) {

    .container{max-width: 100%;}

}

button:hover {
	background-color: #36454F !important;
}

.recent {
	display: inline-block;
	position: absolute;
	top: 8vw;
	left: 28vw;
	font: 3vw;
}

.title {
	font: 3vw;
	color: #FFFFFF;
}

.project {
	display: flex; 
	text-align: left; 
	color: #FFFFFF';
}

.project-image {
	width: 33.3%;
}