.mobile-title {
	padding-bottom: 0.5%;
	padding-top: 4%;
	color: #FFFFFF;
	font-size: 4.20vw;
}


.mobile-deck-stack {
	display: flex;
}

.mobile-deck {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
}
.mobile-row {
	display: flex; 
	flex-direction: row;
	text-align: left; 
	color: #FFFFFF; 
	padding-bottom: 3%; 
	flex-basis: 50%;
	width: 100%; 
}

.mobile-card-body {
	font-size: 1.4vw; 
	margin-bottom: 10%
}

.mobile-text {
	font-size: 1.8vw;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 1em;
}

.mobile-card-title {
	font-size: 2vw; 
	padding-top: 7%; 
	padding-bottom: 3%;
}

.mobile-card-date {
	font-size: 1.2vw;
}

.contact-message {
	padding-top: 2%;
}

.contact-form-body {
	font-size: 2.2vw;
	line-height: 1vw;
}

.contact-input {
	color: #0F0F0F;
	font-size: 1.8vw !important;
}
.contact-form {
	font-size: 1.8vw !important;
	height: 400px;
}

.contact-button-container {
	padding-top: 1%; 
	position: relative; 
	left: 35vw; 
	right: 34vw; 
	width: 30vw; 
	font-size: 1.2vw;
	padding-bottom: 0
}

.profile-card {
	width: 20vw; 
	left: 1vw; 
	padding-bottom: 0; 
	display: inline-block;
}
.profile-image {
	width: 16vw !important; 
	height: 19vw !important; 
	left: 1vw !important; 
	padding-bottom: 0 !important;
}

.profile-header {
	padding-bottom: 0; 
	margin-bottom: 0;
}

.profile-title {
	font-size: 2vw; 
	padding-top: 4%;
}

.profile-body {
	position: relative; 
	color: #FFFFFF; 
	padding-bottom: 0; 
	margin-bottom: 5%; 
	font-size: 1.8vw
}

 
@media all and (max-width: 1000px) {

    #recentwork{display:none;}

}

@media all and (max-width: 1000px) {

    .container{max-width: 100%;}

}

@media all and (max-width: 1000px) {
	#top {
		margin: 0 !important;
		clear: none;
		width: 100%;
		margin-top: 5vw !important;
	}
	.profile-image {
		width: 30vw !important; 
		padding-bottom: 0;
		display: inline-block;
	}
	.profile-title {
		display: inline-block;
		font-size: 7.2vw; 
		position: relative;
		top: 15vw;
	}
	.profile-body {
		display: inline-block;
		font-size: 5vw !important;
		position: relative;
		top: 15vw;
	}
	.profile-social {
		position:relative;
		top: 12vw;
	}

	.profile-card {
		width: 90vw; 
		left: 1vw; 
		padding-bottom: 0; 
		display: inline-block;
	}
}

@media all and (max-width: 1300px) {

	.introduction-block {
		padding: 0;
	}

	.mobile-text {
		font-size: 2.1vw;
	}
	.mobile-title {
		font-size: 4.50vw;
		padding-bottom: 1%;
		padding-top: 10%;
	}
	.mobile-card-body{
		line-height: 4.5vw;
		font-size: 3.7vw;
	}
	.mobile-deck-stack {
		display: inline-block;
	}

	.mobile-deck {
		display: inline-block;
		text-align: left; 
		color: #FFFFFF; 
		padding-bottom: 3%;
	}
	.mobile-card-title {
		font-size: 4.5vw;
	}
	.mobile-card-date {
		font-size: 3.3vw;
	}
	.contact-form-body {
		font-size: 3.4vw;
		line-height: 4.2vw;
	}
	.contact-input {
		color: #0F0F0F;
		font-size: 3.4vw !important;
	}
	.contact-form {
		font-size: 3.4vw !important;
		height: 300px;
		color: #0F0F0F;
	}

	.contact-message {
		padding-top: 4%;
	}

	.contact-button-container {
		padding-top: 4%;
		font-size: 2.8vw;
		left: 30vw;
	}
}

@media all and (max-width: 1000px) {
	.mobile-text {
	font-size: 4.20vw;
	}
	.mobile-title {
	padding-bottom: 2%;
	margin-top: 4%;
	padding-top: 8%;
	font-size: 5.4vw;
	}
}



button:hover {
	background-color: #36454F !important;
}

.recent {
	display: inline-block;
	position: absolute;
	top: 6vw;
	left: 28vw;
	font: 3vw;
}

.title {
	font: 3vw;
	color: #FFFFFF;
}

.project {
	display: flex; 
	text-align: left; 
	color: #FFFFFF;
}

.project-image {
	width: 33.3%;
}

.clickable-text {
	text-decoration: none;
}

.clickable:hover {
	opacity: 0.5;
}
